In [16]:
import pandas as pd
import numpy as np

In [39]:

# Creating a data wrangle function.
def wrangle(filepath):
    # importing the dataset.
    df = pd.read_csv(filepath)
    
    #Can see all the columns with this code.
    #pd.pandas.set_option('display.max_rows', None)
    
    # Below code gives percentage of null in every column
    null_percentage = df.isnull().sum()/df.shape[0]*100
    # Below code gives list of columns having more than 60% null
    col_to_drop = null_percentage[null_percentage>60].keys()
    df.drop(col_to_drop, axis=1,inplace=True)
    
    #Removing all the columns which are less than three.
    df.drop(columns=["Street"],inplace = True)
    #Removing columns with high cardinality.
    df.drop(columns=["Neighborhood","Exterior2nd","Utilities","CentralAir","LotFrontage"],inplace=True)
    print(col_to_drop)
    return df

In [40]:
df = wrangle("https://raw.githubusercontent.com/swathi0710/HDSCFall22_Team-Tableau/main/train.csv")

Index(['Alley', 'PoolQC', 'Fence', 'MiscFeature'], dtype='object')

In [ ]:
df.select_dtypes("object").nunique()

In [42]:
na=df.isna().sum().sort_values(ascending=False)
na

FireplaceQu     690
GarageCond       81
GarageType       81
GarageYrBlt      81
GarageFinish     81
               ...
Heating           0
HeatingQC         0
MSSubClass        0
1stFlrSF          0
SalePrice         0
Length: 71, dtype: int64

In [47]:
df['FireplaceQu'].unique()

array(['NA', 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [50]:
df.isnull().sum().sort_values(ascending=False)

Id              0
KitchenAbvGr    0
GarageType      0
FireplaceQu     0
Fireplaces      0
               ..
Foundation      0
ExterCond       0
ExterQual       0
MasVnrArea      0
SalePrice       0
Length: 71, dtype: int64

Dropping columns with unwanted correlation to SalePrice

In [51]:
df=df.drop(["Id","Unnamed: 0"],axis=1)

Conversion of Ordinal values to Numerical data types

In [52]:
for col in ['KitchenQual','FireplaceQu','GarageQual', 'GarageCond','BsmtQual','BsmtCond',
               'HeatingQC','ExterQual','ExterCond',]:
    df[col] = df[col].replace({'Ex':5,'Gd':4,'TA': 3,'Fa': 2,'Po': 1,'NA':0}).fillna(0)

In [53]:
for col in ['KitchenQual','FireplaceQu','GarageQual', 'GarageCond','BsmtQual','BsmtCond',
               'HeatingQC','ExterQual','ExterCond',]:
               df[col]=df[col].astype(int)

In [56]:
df.to_csv("PremierProject.csv")